.homePageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100vh;
}
.formWrapper {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
.inputGroup{
  display: flex;
  flex-direction: column;
}
.mainlabel{
  margin-bottom: 20px;
  margin-top: 0px;
}
.homePageLogo{
  height: 150px;
  margin-bottom: 30px;
}
.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}
.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s ease-in-out; 
}
.joinbtn,.leaveBtn{
  background-color: #4aed88;
  width: 100px;
  margin-left: auto;
}
.joinbtn:hover,.leaveBtn:hover{
  background-color: #2b824c;
}
.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}
.createNewBtn{
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
   transition: all .3s ease-in-out;
}
.createNewBtn:hover{
  color: #2b824c;
}
.mainWrap{
  display: flex;
  grid-template-columns: 230px 1fr;
   height: 100vh;
}
.aside{
  background: #1c1e29;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
}
.asideInner{
  flex: 1;
}
.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.client{
   display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.logo{
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}
.buttonContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.leaveBtn{
  width: 100%;
}
.CodeMirror{
  min-height: calc(100vh - 20px);
  min-width: calc(100vw - 170px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}